<html>
<head>
  <title>Display Trail Descriptions</title>
  <style>
    body{
      background-color: lightgreen;
    }
  </style>
  <div style="text-align: center;">
    <img src="{{url_for('static', filename='images/logo.png', width=100, height=100)}}" width="500" style="vertical-align:middle" alt="Running Away Logo"/>
  </div>
</head>
<body>

<center>
<h3>&nbsp;</h3>
<div class="form-group"><button onclick="window.location.href='/display_trails'" id="trail-search-button" class="btn btn-primary" type="submit">Find Trails</button></div>
<h3>&nbsp;</h3>
<div class="form-group"><button onclick="window.location.href='/time_run'">Start Run</button></div>
<h3>&nbsp;</h3>
<div class="form-group"><button onclick="window.location.href='/leaderboard'" id="leaderboard-button" class="btn btn-primary" type="submit">View Leaderboard</button></div>
<h3>&nbsp;</h3>
<div class="form-group"><button onclick="window.location.href='/add_friends'">Add Friends</button></div> 
</center>
</body>
</html>
